.navbar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoutButton {
    background: none;
    cursor: pointer;
}
.logoutButton img{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRight {
    display: flex;
    align-items: center;
}

.avatar {
    object-fit: cover;
    margin: 0 20px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 3px solid #0077ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}