.button{
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: #0077FF;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

} 

.button:hover{
    background: #014a9c;
}

.arrow{
    margin-left: 10px;
}